.container
  .task-box
    .task-top
      .title 
        = @task.title
      - if user_signed_in? && current_user.tasks.exists?(id: @task.id)
        .drop-down
          .drop-png
            = image_tag 'Combined Shape.png'
            .drop-content
              = link_to  'Edit', edit_task_path(@task)
              = link_to 'Delete', task_path(@task), data: { method: 'delete' }
    - if @task.eyecatch.attached?
      = image_tag @task.eyecatch, class: 'eyecatch'
    .content
      .content-box
        %p.content-left board
      %p.content-writing
        = @task.description

  .comment
    %h2.comment-title
      Comment
    - @comments.each do |comment|
      .comment-box
        .comment-box-img
          = image_tag 'Oval (1).png', class: 'avater'
        .comment-box-content
          = comment.description

  = link_to new_task_comment_path(@task) do
    .add-new-box 
      + Add new comment